$color-blue:#006AFF;
$color-blue-hover:#1633FF;
$color-grey:#F3F5F9;
$color-blue-write:#031B4E;
$color-white:#fff;
$color-grey-two:#8A93A7;
$color-sec2-back:#214896;
$color-btn-nav:#00D7D2;
$color-background-dropdown:#F1F7FF;
$dropdown-hover:#DEECFF;